CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPROUT_BOARD_PROFILE_N16R8_USB_OTG=y
CONFIG_SPROUT_HEARTBEAT_INTERVAL_MS=2000
CONFIG_SPROUT_COMMAND_MAX_LINE_LENGTH=128
